@font-face {
    font-family: 'Open Sans';
    src:
        url('../fonts/Open_Sans/opensans-regular.woff2') format('woff2'),
        url('../fonts/Open_Sans/opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    background: tomato;
}
